* text=auto

*.sh text eol=lf
scripts/* text eol=lf
*.service text eol=lf
*.rules text eol=lf
*.pkla text eol=lf
*.conf text eol=lf
*.env text eol=lf
config/meow-mindustry-sudoers text eol=lf
*.cmake text eol=lf
CMakeLists.txt text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.qml text eol=lf
*.cpp text eol=lf
*.h text eol=lf
*.pro text eol=lf
*.qrc text eol=lf
VERSION text eol=lf
